/* Error: Undefined variable.
 *   ,
 * 3 |   left: $xValue;
 *   |         ^^^^^^^
 *   '
 *   scss\_ifelse.scss 3:9   position()
 *   scss\_ifelse.scss 16:3  @import
 *   scss\index.scss 11:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 3 \2502    left: $xValue;\d\a   \2502          ^^^^^^^\a   \2575 \a   scss\\_ifelse.scss 3:9   position()\a   scss\\_ifelse.scss 16:3  @import\a   scss\\index.scss 11:9    root stylesheet";
}
